@using EPAM.ServiceHelper.Entities
@{
    Layout = Layout = "~/Pages/Layaout/_LayoutBase.cshtml";

    if (!User.IsInRole("admin"))
    {
        Response.Redirect("~");
    }

    if (IsPost)
    {
        var logic = DependencyResolver.Instance.Logic;
        logic.AddEmployee(
            name: Request["name"],
            phoneNumber: Request["phonNumber"],
            comment: Request["comment"],
            perm: (Permissions)Enum.Parse(typeof (Permissions), Request["perm"]),
            passHash: ServiceAuthentication.Instance.HashPassword(Request["password"])
            );
    <h1>добавлен</h1>
    }
}

<form id="regForm" action="~/Pages/CreateEmploee.cshtml" method="post">
    <fieldset class="registration">
        <h1>Регистрация сотрудника</h1>
        <hr>
        <div class="block-registration">
            <label for="login">Имя пользователя</label>
            <input name="name" type="text" id="login required ">
            <label name="phonNumber" for="phonNumber">Номер телефона</label>

            <input id="phonNumber" class="inputBorder" type="text" name="phonNumber"
                   minlength="6" maxlength="12"
                   placeholder="+7 927 222 22 22"
                   required pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$">
        </div>
        <div class="block-registration">
            <label for="password">Пароль</label> <br>
            <input name="password" id="password" type="password" minlength="6" maxlength="50"
                   placeholder="password" required>
            <label for="password-again">Ещё раз</label><br>
            <input id="password-again" type="password" minlength="6" maxlength="50"
                   placeholder="password" required>
        </div> <br>
        <div class="block-registration">
            <label for="perm">Права</label>
            <select id="perm" name="perm">
                <option value=@Permissions.editOrder>Просмотр и изменение заказов</option>
                <option value=@Permissions.addEmployee>Добавление сотрудников</option>
                <option value=@Permissions.admin>Полный доступ</option>
            </select>
        </div>
        <div class="block-registration">
            <label>Комментарий</label><br />
            <textarea class="inputBorder" type="text" name="comment" minlength="0" maxlength="50"></textarea>
            </div>
            <div class="block-registration">
                <input class="button-registration" type="submit" id="input" value="Отправить">
            </div>
    </fieldset>

</form>





