@using EPAM.ServiceHelper.Entities
@using NLog
@{
    Layout = Layout = "~/Pages/Layaout/_LayoutLeftMenu.cshtml";


    var logger = LogManager.GetCurrentClassLogger();

    if (!User.IsInRole("admin")) // more correct would be to check 'addEmployee' permission - non-admin user could have it, but the page would still be closed
    {
        Response.Redirect("~");
    }

    try
    {
        if (IsPost)
        {
            var logic = DependencyResolver.Instance.Logic;
            if (logic.GetEmployeeByName((string)Request["name"]) != null)
            {
                <h3>Пользователь с таким имененм уже есть </h3>
            }
            else
            {
                var employee = logic.AddEmployee(
                    name: Request["name"],
                    phoneNumber: Request["phonNumber"],
                    comment: Request["comment"],
                    perm: (Permissions)Enum.Parse(typeof(Permissions), Request["perm"]),
                    passHash: ServiceAuthentication.Instance.HashPassword(Request["password"])
                    );
                <h3>добавлен @employee.Name</h3>

            }
        }
    }
    catch (Exception e)
    {

        logger.Warn(e);
        throw;
    }


}

@section title {
    Сотрудники
}

<form class="col-6" id="regForm" action="~/Pages/CreateEmploee.cshtml" method="post"> <!-- if you remove action attribute form will be sent to current page too -->

    <h3>Добавить сотрудника </h3>
    <hr>
    <div class="">

        <label for="login">Имя пользователя</label>
        <input class="form-control" name="name" type="text" id="login required ">

        <label class="form-label" name="phonNumber" for="phonNumber">Номер телефона</label>
        <input id="phonNumber" class="form-control" type="text" name="phonNumber"
               minlength="6" maxlength="12"
               placeholder="+7 927 222 22 22"
               required pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$">
    </div>
    <div class="">
        <label for="password">Пароль</label>

        <input class="form-control" name="password" id="password" type="password" minlength="6" maxlength="50"
               placeholder="password" required>
        <label for="password-again">Ещё раз</label>
        <input class="form-control" id="password-again" type="password" minlength="6" maxlength="50"
               placeholder="password" required>
    </div>


    <div class="">
        <label for="perm">Права</label>
        <select class="form-select" id="perm" name="perm">
            <option value=@Permissions.editOrder>Просмотр и изменение заказов</option>
            <option value=@Permissions.addEmployee>Добавление сотрудников</option>
            <option value=@Permissions.admin>Полный доступ</option>
        </select>
    </div>
    <div class="">
        <label>Комментарий</label>
        <textarea class="form-control" type="text" name="comment" minlength="0" maxlength="50"></textarea>
    </div>

    <div class="text-center">
        <input class="btn col-6  btn-primary" type="submit" id="input" value="Отправить">
    </div>

    <script src="~/js/passCheck.js"></script>

</form>





