@using EPAM.ServiceHelper.Entities
@{
    Layout = Layout = "~/Pages/Layaout/_LayoutBase.cshtml";

    var logic = DependencyResolver.Instance.Logic;
}

@section title {
    Ошибочка 
}

<h3>Что то пошло не так </h3>