@using EPAM.ServiceHelper.Entities
@using EPAM.ServiceHelper.InterfaceBLL
@{
    Layout = "~/Pages/Layaout/_LayoutBase.cshtml";

    if (!User.Identity.IsAuthenticated)
    {
        Response.Redirect("~/Pages/SingIn.cshtml");
    }
}

@section title {
    @RenderSection("title", false)
}
<div class="mainContainer">
    <div class="hiddenMenu" id="hiddenMenu" style="display: flex;"> <!-- would be nice if style (class) for this element had cursor: pointer to show that it's clickable. Making it a button would do too -->
        >
    </div>
    <div class="leftMenu hiddenMenu" id="menu">
        @RenderPage("/Pages/Partial/_LeftMenu.cshtml")
    </div>

    <div class="contentContainer">
        @RenderBody()
    </div>

</div>
<script src="~/js/leftMenuHider.js"></script>
