<a class="menuBtn" href="~/index.cshtml">Заказы</a>
<a class="menuBtn" href="~/Pages/Clients.cshtml">Клиенты</a>
<a class="menuBtn" href="~/Pages/CreateEmploee.cshtml">Добавить Сотрудника</a>

<button class="menuBtn" id="hider">Закрыть</button>

<!-- If you have this menu on every page, you could write this layout right into _layout page (and use @section to inject the right js)  -->
